<%= link_to "Add a reminder", new_remind_path %>

<ul class="reminds">
  <% @reminds.each do |remind| %>
    <li class="<%= "completed" if remind.completed? %>">
      <%= remind.title %>
      <% if remind.completed? %>
        <%= button_to "Mark incomplete", remind_completion_path(remind), method: :delete %>
      <% else %>
        <%= button_to "Complete this", remind_completion_path(remind) %>
      <% end %>
    </li>
  <% end %>
</ul>
